
body 
{
    height: 100%;
    width: 100%;
    background: rgb(236, 200, 101);
}

canvas 
{
    margin: 20px;
/*     background: rgb(55, 255, 159); */
    border: 5px double rgb(55, 255, 159); 
    background: rgb(255, 255, 255);
}

#display 
{
/*     width: 500px; */
    height: 50px;
    margin: 20px;
    border: solid 3px black;
}

#adjustors
{
    display: flex;
}

#strokeForm 
{
    flex: 1;
}

#attributesForm
{
    flex: 1;
}
#color 
{
    display: flex;
    flex:1;
}