
body 
{
    height: 100%;
    width: 100%;
    background: rgb(236, 200, 101);
}

.canvasHolder 
{
    width: 300px;
    height:150px;
    background: rgb(255, 255, 255);
    
    border: 5px double rgb(55, 255, 159); 

}
canvas 
{
/*     margin: 20px; */
    width: inherit;
/*     background: rgb(55, 255, 159); */
    background: transparent;
}

#display 
{
/*     width: 500px; */
    height: 50px;
    margin: 20px;
    border: solid 3px black;
}

#adjustors
{
    display: flex;
}

#strokeForm 
{
    flex: 1;
}

#attributesForm
{
    flex: 1;
}
#color 
{
    
    display: flex;
    flex:1;
}
input[type = "range"]
{
    appearance: none;
     -webkit-appearance: none;
    border-radius: 10px;
    cursor: pointer;
} 

input[type = "range"]:: -webkit-slider-thumb
{
     -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

input[type = "range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

#currentColor
{
    width: 50px;
    height: 50px;
    border-radius: 50px;    
}

#proposedColor
{
    width: 50px;
    height: 50px;
    border-radius: 50px;    
}

#layers
{
/*     background: #FFFFFF; */
    width: 90%;
    height: 175px;

    display: flex;
    overflow-x: scroll;
}



.visible
{
    background-color: #ecf4a9;
}

.selected
{
    background-color: #8cff8a;
}

.invisible
{
    background-color: #999999;
}

.layerDisplay
{
    width: inherit;
    height: inherit;
}

.layerButton
{
    width: 300px;
}

#paletteMenu
{
    background: #FFFFFF;
    overflow-x: scroll;
    width: 200px;
    height: 50px;
    display: flex;
}

.paletteButton
{
    width: 50px;
    height: inherit;
}

