#brushAttributes
{
    width: 400px;
    flex-shrink: 0;
    flex-grow: 0;
}
#brushAttributes div
{
    display: flex;    
    background: #CFCFCF;
    margin: 15px;
}

#brushAttributes p
{
    margin: auto;
    font-size: .75em;
    display: inline;
    flex-shrink: 1;
}

#brushMenu
{
    margin: auto;
    flex-shrink: 0;
    flex-grow: 0;
    background: #AAAAAA;
    height: 50px;
    display: flex;
}

.brushButton
{
    width: 50px;
    height: inherit;
    background-color: #abcdef;
}

#pen
{
    background-image: url("res/feather.png");
    background-size: 50px;
}

#eraser
{
    background-image: url("res/eraser.png");
    background-size: 50px;
}

#blender
{
    background-image: url("res/kitchen-blender.png");
    background-size: 50px;
}

#stamp
{
    background-image: url("res/stamp.png");
    background-size: 50px;
}

/* # */

#stampImage
{
    width:50px;
    height: 50px;
}

#brushAttributes #stampMenu
{
    display: block;
}

#brushAttributes #stampMenu button 
{
    width: 75px;
    height: 50px;
    margin-left: 40%
}
/* #stampMenu */