.canvasContainer 
{
    width: 300px;
    height:150px;
    background: rgb(255, 255, 255);
    
    border: 5px double rgb(55, 255, 159); 

}

canvas 
{
/*     margin: 20px; */
    width: inherit;
/*     background: rgb(55, 255, 159); */
    background: transparent;
}

.invisible
{
    background-color: #999999;
}

.layerDisplay
{
    width: inherit;
    height: inherit;
}

.layerButton
{
    width: 300px;
    overflow: hidden;
}


#layers
{
/*     background: #FFFFFF; */
    width: 90%;
    height: 175px;

    display: flex;
    overflow-x: scroll;
}



.visible
{
    background-color: #ecf4a9;
}