#paletteMenu
{
    background: #FFFFFF;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 200px;
    height: 75px;
    display: flex;
}

.paletteButton
{
    width: 50px;
    height: inherit;
}
